#cabecera
{
    padding: 100px 25px;

    color: #fff;
    background-color: #108be8;
}
#clon
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#navbarfija
{
    font-size: 12px !important;
    line-height: 1.42857143 !important;

    z-index: 9999;

    margin-bottom: 0;

    letter-spacing: 4px;

    border: 0;
    border-radius: 0;
    background-color: #108be8;
}
.navbar li a,
.navbar .navbar-brand
{
    color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a
{
    color: #108be8 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle
{
    color: #fff !important;
    border-color: transparent;
}
.container-fluid
{
    padding: 100px 25px;
}
.col-sm-4
{
    margin: 25px 0;

    text-align: center;
    color: black;
}
.page
{
    min-height: 800px;
}
.about-page
{
    background: url(https://farm3.staticflickr.com/2948/15163486339_1bb396cc0d_k.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.contact-page{
  background: url(https://i.ytimg.com/vi/zNfhhMH7y2Y/maxresdefault.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.card
{
    padding: 2em;

    background-color: #fff;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
       -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .25);
}
.card-about
{
    margin-top: 50px;
    margin-bottom: 200px;
    padding: 10px;
}
#portfolio
{
    background-color: #108be8;
    color: #fff;
}
.thumbnail
{
    margin-right: 60px;
    margin-left: 60px;
}
#contact img{
  max-width: 100%;
  height: auto;
}
